In [42]:
import requests
import pandas as pd

response = requests.get("https://datausa.io/api/data?drilldowns=Nation&measures=Population")
print(response.status_code)
print(response.json())
data = response.json()['data']
datausa = pd.DataFrame(data)

200
{'data': [{'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2020, 'Year': '2020', 'Population': 326569308, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2019, 'Year': '2019', 'Population': 324697795, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2018, 'Year': '2018', 'Population': 322903030, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2017, 'Year': '2017', 'Population': 321004407, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2016, 'Year': '2016', 'Population': 318558162, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2015, 'Year': '2015', 'Population': 316515021, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2014, 'Year': '2014', 'Population': 314107084, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2013, 'Year': '2013', 'Population': 311536594, 'Slug Nation': 'united-states'}], 'source': [{'measures': ['Population'], 'annotations': {'source_name': 'Census Bureau', 'source_description': 'The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.', 'dataset_name': 'ACS 5-year Estimate', 'dataset_link': 'http://www.census.gov/programs-surveys/acs/', 'table_id': 'B01003', 'topic': 'Diversity', 'subtopic': 'Demographics'}, 'name': 'acs_yg_total_population_5', 'substitutions': []}]}

In [29]:
datausa.shape

(8, 6)

In [30]:
datausa

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states
5   01000US  United States     2015  2015   316515021  united-states
6   01000US  United States     2014  2014   314107084  united-states
7   01000US  United States     2013  2013   311536594  united-states

In [31]:
datausa.mean()

C:\Users\Jesus\AppData\Local\Temp\ipykernel_7872\776361485.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  datausa.mean()

ID Year       2.016500e+03
Year          2.525252e+30
Population    3.194864e+08
dtype: float64

In [32]:
datausa.describe()

          ID Year    Population
count     8.00000  8.000000e+00
mean   2016.50000  3.194864e+08
std       2.44949  5.252633e+06
min    2013.00000  3.115366e+08
25%    2014.75000  3.159130e+08
50%    2016.50000  3.197813e+08
75%    2018.25000  3.233517e+08
max    2020.00000  3.265693e+08

In [33]:
population_increase_since_2013 = datausa.iloc[0,4] - datausa.iloc[7,4]
display(f'The population increase in the United States since 2013 is {population_increase_since_2013:,}')

'The population increase in the United States since 2013 is 15,032,714'

In [37]:
datausa["Population"]

0    326569308
1    324697795
2    322903030
3    321004407
4    318558162
5    316515021
6    314107084
7    311536594
Name: Population, dtype: int64

In [41]:
datausa.query("Population > 320000000")

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states

In [44]:
datausa.iloc[:,[1,2]]

          Nation  ID Year
0  United States     2020
1  United States     2019
2  United States     2018
3  United States     2017
4  United States     2016
5  United States     2015
6  United States     2014
7  United States     2013

In [45]:
datausa.iloc[0:4]

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states